body {
    background-color: rgb(241, 73, 84);
    margin: 2%;
    padding: 2%;
    text-align: center;
}

title{
    margin: 50px;
}

ul{
    list-style-type: none;
}

.list-group-item{
    background-color: rgb(241, 73, 84);
    border: none;
}

.pokemon-list{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1% 0%;
}

.btn-primary {
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 200px;
    color: black;
    border: 2px solid black; 
    padding: 10px 32px;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
  }

.modal-dialog{
    background: none;
}

.modal-header{
    border: none;
}

.modal-title{
    margin-left: 40px;
 }

.modal-close{
    margin: 5px;
    border: none;
    background-color: #fff;
    scale: 2;
}

.modal-close:hover {
    background-color: rgb(228, 76, 76);
}

.modal-body {
    padding: 50px;
}

.modal-img {
    padding: 0px;
}

.modal h1 {
    margin-top: 0;
    text-transform: capitalize;
}

.modal p {
    margin-bottom: 0;
}