body{
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(255, 255, 255);
    margin: 2%;
    padding: 2%;
    text-align: center;
}

.title{
    padding: 30px;
    padding-bottom: 75px;
}

ul{
    list-style-type: none;
}

.list-group-item{
    background-color: rgb(255, 255, 255);
    border: none;
}

.pokemon-list{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1% 0%;
}

.btn-primary {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(214, 28, 28);
    width: 100%;
    max-width: 200px;
    color: white;
    border: 2px solid black; 
    padding: 10px 32px;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }

.modal-dialog{
    background: none;
}

.modal-header{
    border: none;
}

.modal-title{
    padding-top: 30px;
    margin-left: 40px;
 }

.modal-close{
    margin: 5px;
    border: none;
    background-color: #fff;
    scale: 2;
}

.modal-close:hover {
    background-color: rgb(228, 76, 76);
}

.modal-body {
    padding: 50px;
}

.modal-img {
    scale: 1.5;
    padding-bottom: 30px;
}

.modal h1 {
    margin-top: 0;
    text-transform: capitalize;
}

.modal p {
    margin-bottom: 0;
}